<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083215948337-9sfdfnd1lvlnmmss8avir19cjfnj5d0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083215948337-9sfdfnd1lvlnmmss8avir19cjfnj5d0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQFwMdi73VFrPRdbQ0JkRgK_PhDWtsqg8</string>
	<key>GCM_SENDER_ID</key>
	<string>1083215948337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quotpad</string>
	<key>PROJECT_ID</key>
	<string>quotpad</string>
	<key>STORAGE_BUCKET</key>
	<string>quotpad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083215948337:ios:52cd14a753b89cf2b84310</string>
</dict>
</plist>